{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
    <form id="myForm" method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input id="submit_button" type="submit" value="Register"/>
     <div id="check" style="float:left; width:100%; height:50px; background:#787878;"></div>
    <a href="/">Login</a>
    </form>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

   <script>
    jQuery(document).ajaxSend(function(event, xhr, settings) {


    function getCookie(name) {
        console.log("Get Cookie Called");
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function sameOrigin(url) {
        console.log("Same origin");
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        console.log("Main method");
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

</script>


<script type="text/javascript">

    function checkValidUsername() 
        {
            var domelementusername=document.getElementById("id_username");
            var username = domelementusername.value;
            //alert(email);
            document.getElementById("check").innerHTML = username;
            $.ajax({
                    type: "POST",
                    url:"http://127.0.0.1:8000/checkvalidusername",  // or just url: "/my-url/path/"
                    data:{
                            //csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                            Username: username,
                         },

                    xhrFields:{
                        withCredentials: true
                    },
                    crossDomain: true,
                    dataType:"json",
                    success: function(data) {
                                                response=$.parseJSON(data)
                                                //alert(response.value);
                                                if(response.value=="False")
                                                {
                                                    alert("username is already registered ");
                                                    domelementusername.value="";
                                                }
                                            },
                    error: function(xhr, textStatus, errorThrown){
                                                                    alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
                                                                }
                    });
        }
    function matchpassword()
    {
        var pass1=document.getElementById("id_password1").value;
        var domelementpass2=document.getElementById("id_password2");
        var pass2=domelementpass2.value;
        if (pass1!="" && pass2!="")
        {
            if(pass1!=pass2)
            {
                alert("password doesn't match");
                domelementpass2.value="";
            }

        }

    }
    </script>
{% endblock %}